<div class="header">
  <img class="logo" src="<%= @base_url || '/' %>reports/static/images/archivesspace.small.png"/>
  <h1><%= h @report.title %></h1>
</div>

<table class="report-listing" style="width:110%" >
  <thead>
  <tr>
    <% @report.headers.each do |heading| %>
      <% if (heading == 'user_id') %>
      <th style="width:2em;" >id</th>
      <% elsif ( heading == 'groups') %>
      <th style="width:40%;" ><%= transform_text(heading.to_s) %></th>
      <% elsif ( heading == 'name') %>
      <th style="width:10em;" ><%= transform_text(heading.to_s) %></th>
      <% else %>
      <th  ><%= transform_text(heading.to_s) %></th>
      <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody style="font-size:smaller;" >
  <% @report.each do |record| %>
    <tr>
      <% @report.headers.each do |heading| %>
        <td>
            <% if heading == "groups" %>
            <%= insert_subreport( UserGroupsSubreport, record ) %>
            <% else %> 
          <%= transform_text(record[heading].to_s) %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
